<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <br>
        <div sec:authorize="isAuthenticated()" class="row" >
            You are authenticated as: <strong sec:authentication="name">unknown</strong>
            <div>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div sec:authorize="!isAuthenticated()" class="row" >
            <div>
                <a href="/login">Login</a>
            </div>
        </div>

        <div class="row">
            <h1>Public list of pets</h1>
        </div>

        <br>

        <h3 th:if="${#lists.isEmpty(pets)}" class="text-center">
            empty list
        </h3>

        <div th:unless="${#lists.isEmpty(pets)}" class="text-center">
            Pets count: <span th:text="${#lists.size(pets)}">unknown size</span>
        </div>
        <div class="row" th:unless="${#lists.isEmpty(pets)}">
            <table class="table">
                <tr th:each="pet : ${pets}">
                    <td th:text="${pet.name}"></td>
                </tr>
            </table>
        </div>

        <div sec:authorize="isAuthenticated()" class="row" >
            <a href="/pets/new">Add new pet</a>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</body>
</html>